<!DOCTYPE html>
<html>
<header>
  Users
</header>

<body>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
      <div class="row">
        <div class="col-sm-4">
          {{user.name}}
        </div>
        <div class="col-sm-4">
          {{user.id}}
        </div>
        <div class="col-sm-4">

          <div class="btn-group">
            <button type="button" class="btn btn-primary">Apple</button>
            <button type="button" class="btn btn-primary">Samsung</button>
            <button type="button" class="btn btn-primary">Sony</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</body>

</html>